<section class="flex gap-x-8 justify-center items-top flex-wrap-reverse sm:flex-nowrap">
    <div class="[&>p]:mb-4 [&>p>b]:text-violet-800/70 text-base font-normal text-gray-200 text-pretty rounded-md p-5 shadow-2xl bg-black/10">
        <p>
            Me llamo <b>Luciano Adrian Flores</b>, mis amigos me suelen llamar lucho o lu. Cuando terminé la secundaria todavía no estaba seguro de lo que quería estudiar. Me anoté a la carrera de Analista de Sistemas y cuando menos me lo esperaba, me encontraba disfrutando resolver los problemas que nos planteaban en materias troncales como por ejemplo <b>Algoritmos Y estructura de datos</b>, donde con mis amigos competíamos por quien creaba la "mejor" solución. En ese momento me dí cuenta de que habia tomado la <b>decisión correcta</b>.
        </p>
        <p>
            Cuando llegó la pandemia no era sostenible que pueda seguir estudiando, por lo que empecé a formarme de <b>manera autodidacta</b> en distintas tecnologías, realizando distintos cursos y talleres con el fín de insertarme en el mercado laboral.
        </p>
        <p>
            Actualmente, me encuentro en la etapa final de mi carrera como <b>analista en sistemas</b> y cuento con una certificación de <b>analista programador</b>, respaldando mi formación académica. Desde junio de 2022, he estado trabajando en Epidata como <b>desarrollador fullstack</b> dondé tuve la oportunidad de trabajar en varios proyectos utilizando distintas tecnologías lo que me permitió formar una sólida base como profesional.
        </p>   
    
    </div>
    
<img class="rounded-full size-52 ring-2 ring-violet-800 mb-4" src="/Portfolio/img/profile/profilePic.jpeg" alt="Perfil de luciano">
</section>
