<section class="flex gap-x-8 justify-center items-top">
    <div class="[&>p]:mb-4 [&>p>strong]:text-yellow-400 text-base font-normal text-gray-200 text-pretty [&>p>b]:text-cyan-200">
        <p>
            Me llamo <b>Luciano Adrian</b>, mis amigos me suelen llamar lucho o lu. Cuando terminé la secundaria me anoté a la carrera de Analista en Sistemas sin tener una completa noción  <b>Sistema computacional</b>.
        </p>
    
        <p>
            ¡Hola! Soy desarrollador de 25 años. Poseo una mentalidad flexible y abierta al cambio, lo que me permite adaptarme rápidamente a entornos dinámicos y colaborar eficazmente en equipos multidisciplinarios.
        </p>
    
        <p >
            Actualmente, me encuentro en la etapa final de mi carrera como <strong>analista en sistemas</strong> y cuento con una certificación como <strong>analista programador</strong>, respaldando mi sólida formación académica. Desde junio de 2022, he estado trabajando en Epidata como <strong>desarrollador fullstack</strong>, donde formé parte del equipo de IDI (Investigación, Desarrollo e Innovación) de la empresa.
    
        </p>   
    
    </div>
    
<img class="rounded-full size-52 ring-2 ring-emerald-600" src="/img/profile/profilePic.webp" alt="Perfil de luciano">
</section>
