<ol class="border-s border-teal-500/70 [&>li:mb-3]">
    <li>
        Trabajé en el área IDI, donde exploramos conceptos y tecnologías tales como <i>I.A, Metaverso y Realidad aumentada</i>.
    </li>

    <li>
asdsadas    
    </li>

    <li>

    </li>
</ol>

<style>

ul {
    list-style-type: disc;
}
</style>